body {
    background: white;
}
.principal {
    background: #cccccc;
    margin: 15px;
    padding: 15px;
}

#banner {
    width: 100%;
}

h1 {
 text-align: center;   
}

p {
    text-align: center;    
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.diferenciales {
    background: white;
    margin: 15px;
    padding: 15px;
}

h2 {
    text-align: center;
}

.items {
    font-style: italic;
}