.tituloPrincipal {
    padding-left: 30px;
}

.principal {
    background: #cccccc;   
    padding: 20px;
}

#banner {
    width: 100%;

}

.tituloCentralizado {
 text-align: center;   
}

p {
    text-align: center;    
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.diferenciales {
    background: white;
    padding: 30px;
}

.items {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 15%;
}

.imagenDiferenciales {
    width: 50%;
}